
body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

p {
  font-size: 14px;
  padding: 10px;
}

#narrative-container {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
}
